# Dimensions
common_dimensions = ["region"]
tag_dimensions    = []

# Block Volume
block_volume_backup_age_max_days    = 90
boot_and_block_volume_max_size_gb   = 100
boot_volume_avg_read_write_ops_high = 500
boot_volume_avg_read_write_ops_low  = 100

# Compute
compute_instance_avg_cpu_utilization_high = 35
compute_instance_avg_cpu_utilization_low  = 20
compute_running_instance_age_max_days     = 90

# Database
autonomous_database_age_max_days             = 90
autonomous_database_age_warning_days         = 30
autonomous_database_avg_cpu_utilization_high = 35
autonomous_database_avg_cpu_utilization_low  = 20

# MySQL
mysql_db_system_age_max_days             = 90
mysql_db_system_age_warning_days         = 30
mysql_db_system_avg_connections          = 2
mysql_db_system_avg_cpu_utilization_high = 50
mysql_db_system_avg_cpu_utilization_low  = 25

# NoSQL
nosql_table_stale_data_max_days = 90
